button{
  cursor: pointer;
}
.filter-wrapper{
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 1px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}
.filter-head{
  padding:8px 20px ;
  background-color: #ffd740;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.filter-head div{
  color: white;
  font-family: sans-serif;
  font-size: 2rem;
  /* font-size: 32px; */
}
.filter-head button{
  border: none;
  background-color: white;
  border-radius: 4px;
  padding: 10px 14px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}
.filter-content{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
