.home-wrapper{
  display: flex;
  flex-direction: row;
  gap: 45px;
}
.filter{
  /* width: 335px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}
.films{
  flex: 4;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1200px) {
  .filter{
    display: none;
  }
}



